<div class="character" *ngIf="character">
  <div class="row">
    <h1 class="character-value">{{character.name}}</h1>
  </div>

  <div class="row">
    <p class="character-header">Gender</p>
    <p class="character-value">{{character.gender}}</p>
  </div>

  <div class="row">
    <p class="character-header">Birth Year</p>
    <p class="character-value">{{character.birthYear}}</p>
  </div>

  <div class="row">
    <p class="character-header">Hair Color</p>
    <p class="character-value">{{character.hairColor}}</p>
  </div>
  <div class="row ">
    <p class="character-header">Skin Color</p>
    <p class="character-value">{{character.skinColor}}</p>
  </div>
  <div class="row">
    <p class="character-header">Height</p>
    <p class="character-value">{{character.height}}</p>
  </div>
  <div class="row">
    <p class="character-header">Mass</p>
    <p class="character-value">{{character.mass}}</p>
  </div>
  <div class="row has-sub">
    <p class="character-header sub-header">Home Planet</p>
  </div>
  <div class="sub-row">
    <div class="col">
      <p class="character-header">Title</p>
      <p class="character-value">{{character.homePlanet.title}}</p>
    </div>
    <div class="col">
      <p class="character-header">Terrain</p>
      <p class="character-value">{{character.homePlanet.terrain}}</p>
    </div>
    <div class="col">
      <p class="character-header">Population</p>
      <p class="character-value">{{character.homePlanet.population}}</p>
    </div>
  </div>

  <div class="row has-sub">
    <p class="character-header sub-header" *ngIf="character.species && character.species.length > 0">Species</p>
  </div>
  <div class="sub-row" *ngFor="let spec of character.species">
    <div class="col">
      <p class="character-header">Name</p>
      <p class="character-value">{{spec.name}}</p>
    </div>
    <div class="col">
      <p class="character-header">Average Lifespan</p>
      <p class="character-value">{{spec.averageLifespan}}</p>
    </div>
    <div class="col">
      <p class="character-header">Classification</p>
      <p class="character-value">{{spec.classification}}</p>
    </div>
    <div class="col">
      <p class="character-header">Language</p>
      <p class="character-value">{{spec.language}}</p>
    </div>
  </div>


  <div class="row has-sub">
    <p class="character-header sub-header" *ngIf="character.films && character.films.length > 0">Films</p>
  </div>
  <div class="sub-row" *ngFor="let film of character.films">
    <div class="col">
      <p class="character-header title-header">Title</p>
      <p class="character-value">{{film.title}}</p>
    </div>
    <div class="col">
      <p class="character-header">Director</p>
      <p class="character-value">{{film.director}}</p>
    </div>
    <div class="col">
      <p class="character-header">Producer</p>
      <p class="character-value">{{film.producer}}</p>
    </div>
    <div class="col">
      <p class="character-header">Release Date</p>
      <p class="character-value">{{film.releaseDate}}</p>
    </div>
  </div>

</div>
