/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Teko:wght@300;400;700&display=swap');

html, body {
  height: 100%;
  margin:0;
  font-family: 'Montserrat', sans-serif;
  background-color: #231F20;
  color: #FBFFFE;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Teko', sans-serif;
  color: #D6BF7C;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #5c7bc8;
}
.loader-container {
  height: 100%;
  width: 100%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  display: flex;
}
.loader {
  border: 6px solid #62A0DB;
  border-top: 6px solid #354099;
  border-radius: 50%;
  width: 13vh;
  height: 13vh;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
