/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Teko:wght@300;400;700&display=swap');

html, body {
  height: 100%;
  margin:0;
  font-family: 'Montserrat', sans-serif;
  background-color: #231F20;
  color: #FBFFFE;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Teko', sans-serif;
  color: #D6BF7C;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #5c7bc8;
}
